<div>
  <h1>Modificar personaje</h1>
  <hr />
  <form #createForm="ngForm">
    <label>Serie: </label>
    <br />
    <select
      name="cajaidSerie"
      #cajaidSerie
      class="form-control"
      (change)="mostrarSerie()"
    >
      <option *ngFor="let serie of series" value="{{ serie.idSerie }}">
        {{ serie.nombre }}
      </option>
    </select>
    <br />
    <label>Personaje: </label>
    <br />
    <select
      name="cajaidPersonaje"
      #cajaidPersonaje
      class="form-control"
      (change)="mostrarPersonaje()"
    >
      <option
        *ngFor="let personaje of personajes"
        value="{{ personaje.idPersonaje }}"
      >
        {{ personaje.nombre }}
      </option>
    </select>
    <br />
    <button class="btn btn-success" (click)="updatePersonaje()">
      Modificar personaje
    </button>
  </form>
  <div class="containerr">
    <div *ngIf="serie">
      <h2>{{ serie.nombre }}</h2>
      <hr />
      <img src="{{ serie.imagen }}" width="400px" height="400px" />
    </div>
    <div *ngIf="personaje">
      <h2>{{ personaje.nombre }}</h2>
      <hr />
      <img src="{{ personaje.imagen }}" width="400px" height="400px" />
    </div>
  </div>
</div>
